@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

$body: 'Inconsolata', monospace;

$background: #dce1e3;
$border: #5c5f58;
$accent: #b73225;
$blue: #004e7c;
$brown: #800000;
