.search-form {
  display: flex;
  justify-content: center;

  margin: 25px 0;
}

.search-form > input {
  margin-right: 10px;
  cursor: pointer;

  border: solid 2px $border;
  border-radius: 5px;

  transition: all 0.25s ease-in-out;

  &:hover {
    border-color: $accent;
  }

  &:focus {
    outline-color: $accent;
  }
}
