.gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;

  padding: 0;
  margin-left: -10px;
  margin-top: -10px;

  cursor: pointer;
}

.photo-card {
  width: calc(100% / 4 - 27px);
  margin-left: 10px;
  margin-top: 10px;

  border: solid 2px $border;
  padding: 5px;
  border-radius: 5px;
  transition: all 0.25s ease-in-out;
  &:hover img {
    filter: grayscale(0);
  }
  &:hover {
    border-color: $accent;
  }
}

.photo-card > img {
  width: 100%;
  filter: grayscale(100%);
  border-radius: 5px;
  transition: all 0.25s ease-in-out;

  display: block;
  height: auto;
}

.stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  margin: 10px 0;
  padding: 0;
  text-align: center;
}

.material-icons {
  display: block;
  margin-bottom: 7px;
}
